@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #ffffff;
  --color-error: #dc2626;
  --color-paper: #232323;
  --color-primary: #3b82f6;
  --color-background: #09090b;
  --color-primary-contrast: #ffffff;
}

html.light {
  --color-text: #0a0a0a;
  --color-error: #dc2626;
  --color-paper: #ffffff;
  --color-primary: #2563eb;
  --color-background: #fafafa;
  --color-primary-contrast: #ffffff;
}

html,
body {
  @apply h-screen w-screen bg-background text-text underline-offset-8;
}

.menu-button {
  @apply flex items-center justify-center gap-2 rounded-md px-4 py-3 transition-colors hover:bg-zinc-200 active:bg-zinc-300 dark:hover:bg-zinc-800 dark:active:bg-zinc-700;
}

.menu-button--active {
  @apply flex items-center justify-center gap-2 rounded-md bg-zinc-200 px-4 py-3 transition-colors hover:bg-zinc-300 active:bg-zinc-400 dark:bg-zinc-800 dark:hover:bg-zinc-700 dark:active:bg-zinc-600;
}
